.registerWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/src/pictures/loginBackground.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


.registerBlock{
    display: grid;
    grid-template-rows: 110px 1fr 120px;
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px black;
    justify-items: center;
}

.registerTitle{
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: center;
    font-size: 45px;
    font-weight: 800;
    
}
.registerInputContainer{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    gap: 10%;
    
}

.inputsContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    width: 100%;
    
}

.registerInput{
    width: 80%;
    height:35px;
    border: none;
    background-color: rgb(231, 231, 231);
    font-size: 18px;
    border-radius: 25px;
    text-align: center;
    z-index: 1001;
}
.registerInput[type="number"]::-webkit-inner-spin-button,
.registerInput[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.registerInput:focus{
    margin: -3px;
    outline: none;
    border:3px #1769e2 solid;

}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.submitBtn{
    width: 80%;
    height: 50px;
    background-color: #1769e2;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border-radius: 25px;
}

.submitBtn:hover {
    border: 2px black solid;
    background-color: white;
    color: #1769e2;
}
.wrongWrapper{
    position: absolute;
    height:35px;
    min-width: 240px;
    margin-top: 40px;
}
.wrong{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: red;
    height: 35px;
    color: white;
    border-radius: 25px;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    
}

.correctInput{
    margin: -3px;
    border:3px rgb(18, 179, 44) solid;
}
.correctInput:focus{
    margin: -3px;
    border:3px rgb(18, 179, 44) solid;
}
.wrongInput{
    margin: -3px;
    border:3px red solid;
    color: red;
}
.wrongInput:focus{
    margin: -3px;
    border:3px red solid;
}